<div ng-init='init()'>
	<div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ] panelArea">
				<div class="[ panel panel-default ] panel-post">
					<div class="panel-body">					
						<form name="postArea" ng-submit="postMessage(postArea.$valid)">
							
							<!-- Tweet Content -->
							<div class="form-group" >
								<textarea id="inputArea" class="form-control" rows="4" name="content" placeholder="Write your Post Here." ng-model="formContent" required></textarea>
							</div>
							
							<!-- Tweet Username -->
							<div class="form-group">
								<input type="text" name="username" class="form-control" placeholder="Post as..." ng-model="formUsername" required>
							</div>
							
							<button id="tweetBtn" type="submit" class="btn btn-primary">Tweet</button>	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div ng-repeat="message in messages">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ] panelArea">
					<div class="[ panel panel-default ] panel-post">
						<div class="panel-heading">
							<h3><a id="username-link" href="#/messages/user/{{message.username}}">{{message.username}}</a></h3>
							<h5><span am-time-ago="message.date / 1000"></span></h5>
						</div>
					<div class="panel-body">
						<p ng-bind-html="message.content | parse_tags | to_trusted"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="showNext" class="container" ng-show="showButton()">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ] panelArea">
				<div class="[ panel ] panel-post">
					<div class="panel-body" style="text-align:center">					
						<button type="button" class="btn btn-primary" ng-click="getNextTweets()"">Show More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>