<div ng-init='init()'>
	<div ng-repeat="message in messages">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ] panelArea">
					<div class="[ panel panel-default ] panel-post">
						<div class="panel-heading">
							<h3><a id="username-link" href="#/messages/user/{{message.username}}">{{message.username}}</a></h3>
							<h5><span am-time-ago="message.date / 1000"></span></h5>
						</div>
					<div class="panel-body">
						<p hashtag="{{message.content}}"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="showNext" class="container" ng-show="showButton()">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ] panelArea">
				<div class="[ panel ] panel-post">
					<div class="panel-body" style="text-align:center">					
						<button type="button" class="btn btn-primary" ng-click="getNextTweets()">Show More</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>