.alert {
	margin-top: 50px;
	margin-bottom:0px;
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
}


html, body {
  height: 100%;
}

body {
	margin-top: 60px; /* 60px is the height of the navbar - change this if the navbarn height changes */
}

.container {
	padding-left: 0px !important;
}

.footerText {
	margin: 15px 0;
	color: #999999;
}

.footer {
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	position: relative;
	margin-top: -80px; /* negative value of footer height */
	height: 80px;
	clear:both;
	padding-top:20px;
}

#main {
  	padding-bottom:100px; /* this needs to be bigger than footer height*/
}

.panel-post {
	margin-top: 10px;
    position: relative;
    border-radius: 0px;
    font-family: 'Roboto', sans-serif;
}

.panel-twitterlite-textarea {
	float:right;
	width: 100%;
}

.panel-twitterlite-textarea > textarea {
	display: block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}

.panel-twitterlite-textarea > input {
	display: block;
    width: calc(85% - 3px);
	float: left;
	margin-top: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
    resize: vertical;
}

.panel-twitterlite-textarea > button {
	margin-top: 10px;
    width: 15%;
	float:right;
	border-radius: 3px;  
	border: 1px solid rgb(217, 217, 217);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 0px 0px;
}

#tweetBtn {
	float: right;
}

#username-link {
	color: black;
}

#wrap {
  min-height: 100%;
}

@media (min-width: 767px) {
	.panelArea{
		width:80% !important;
	}
}